html {
    background: url("assets/images/lyric-bg-2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
  }
  
  body {
    background: url("assets/images/music.webp") no-repeat bottom left;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-family: Montserrat;
  }
  
  h1 {
    margin: 10px 0px 10px 0px;
    font-size: 48px;
  }
  
  h4 {
    font-size: 36px;
    font-weight: 400;
    opacity: 0.66;
    margin: 0;
  }
  
  .inner-container {
    height:75%;
    width: 90%;
    margin: auto;
    display: flex;
  }
  .video-container {
    width: 50%;
  }
  
  .inner-video {
    margin: 50px 0px;
    height: 300px;
    width: 85%;
    box-shadow: 10px 10px 50px rgba(0, 255, 255, 0.35);
  }

  /* [1]
  Add 
  Full height
  Half width
  A small white border
  Padding
*/
.lyrics-container {
    height: 100%;
    width: 50%;
    border: 10px white;
    padding: 10px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    line-height: 35px;
    overflow-y: scroll;
  }
  .lyrics-container::-webkit-scrollbar{
    display: none;
  }
pre{
    font-size: large;
}

#iframeDiv{
    width: 100%;
}